@import "./App.scss";
@import "./turtai.scss";

// body {
//     background-color: aliceblue;
//     margin-top: 50px;

//     div {
//         float: left;
//     }
// }

//CENTRAVIMAS VISIŠKAME CENTRE
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(242, 239, 241);
  }


