@import "./App.scss";

// body {
//     background-color: aliceblue;
//     margin-top: 50px;

//     div {
//         float: left;
//     }
// }

//CENTRAVIMAS VISIŠKAME CENTRE
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100wh;
    background-color: rgb(245, 242, 248);
  }


