* body {
    box-sizing: border-box;
}
.turtai {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    .turtai-list {
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
    }
    .vienas-turtas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        border: 3px solid rgb(102, 65, 65);
        border-radius: 3px;
        margin: 10px;
        width: 100%;
        max-width: 200px;
        min-width: 140px;
    }
}
